
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>

    #titleMain {
        font-size: 18px;
        color: #000;
        text-transform: initial;
    }
</style>

@section header{
    <div id="titleMain">
        Trang chủ
    </div>

}
<div class="row">

</div>
