@model TestUngDung.Areas.Admin.Model.LoginModal
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang đăng nhập</title>

    <link href="~/Assets/css/styles_.css" rel="stylesheet">
    <link href="~/Assets/css/font-awesome_.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <style>
        body > div > div.login.w3_login > div > form > button.btnlogin {
            background: #33b5e5;
            border-color: transparent;
            color: #fff;
            cursor: pointer;
            width: 100%;
            padding: 10px;
        }
    </style>
</head>

<body style=" background: lightgrey!important;background-image:none!important;
    height:100vh;padding:0;margin:0;display:flex;justify-content:center;align-items:center">
    <div class="login-form w3_form">
        <div class="login w3_login">
            <h2 class="login-header w3_header" style=" background: #212121;">Đăng Nhập</h2>
            <div class="w3l_grid">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger message" })
                    <form class="login-container">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", 
                                            @placeholder = "Mời nhập tên đăng nhập", @autofocus = "autofocus", @type = "text", @require = "" })
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", 
                                            @placeholder = "Mời nhập Mật khẩu", @autofocus = "autofocus", @type = "password", @require = "" })
                        <button class="btnlogin" style=" background: #212121;" type="submit">Đăng nhập</button>
                    </form>
                }
            </div>
        </div>
</body>
</html>

